@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear:both;
    }
}


@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin max-width-1023px{
    @media screen and (max-width: 1023px){
        @content
    };
}

@mixin max-width-767px{
    @media screen and (max-width: 767px){
        @content
    };
}
@mixin max-width-575px{
    @media screen and (max-width: 575px){
        @content
    }
}

