$color-primary: #5a73fc;
$default-font-size: 1.6rem;
$color-blue:#0A2E6C;
$color-orange: #FF9900;
$color-white: #FFFFFF;
$color-black-blur:  rgba(0, 0, 0, 0.8);
$color-yellow-blur:rgba(193, 155, 20, 0.85);
$color-red:  #FF4D4F;
$color-white-about: rgba(255, 255, 255, 0.9);
$color-blue-background1: #031D49;
$color-blue-background2: #0F244D;
$color-blue-background3: #03173C;
