.about-head {
    width: 100%;
    padding-top: 77px;
    padding-bottom: 77px;
    background-color: $color-blue;
}
.about {
    font-weight: bold;
    text-align: center;
    color: $color-white;

    &__number {
        font-size: 24px;
    }
    &__title {
        font-size: 17px;
    }
    &__icon {
        margin-top: 15px;
        font-size: 24px;
        & img {
            width: 92px;
            margin: 0 auto;
        }
    }
}
.about-main {
    position: relative;
    width: 100%;
    & .about-picture {
        width: 100%;
        height: 760px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    & .about-info {
        position: absolute;
        top: 62px;
        padding: 50px 31px 39px;
        border-radius: 15px;
        background-color: $color-white-about;
        box-sizing: border-box;
        width: 90%;
        max-width: 760px;
        right: 50px;
        @include max-width-1023px {
            right: 0px;
        }
        &__title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 35px;
        }
        &__detail {
            margin-bottom: 18px;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 18px;
            line-height: 20px;
            text-align: justify;
        }
    }
}
