.direction-container {
    display: flex;
}

.btn {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  padding: 11px 40px;
  text-transform: uppercase;
    box-sizing: border-box;
    margin: 0 auto;


&--primary{
    background-color: $color-blue;
    color: white;
}
&--outline{
    border: 1px solid $color-blue;
    color: $color-blue;
}
&--unset{
    margin: unset;
}
}
