.typography {
  text-align: center;
  color: $color-orange;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  
  &--border {
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 14px;
    border-bottom: 2px solid $color-blue;
    padding-bottom: 14px;
    padding-left: 55px;
    padding-right: 55px;
    border-bottom: 4px solid #0a2e6c;
    width: fit-content;
    margin: 0 auto;
  }
}
